<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<a href="addUser">Add Person</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Password</th>
            <th>Roles</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Age</th>
        </tr>
        <tr th:each ="user : ${users}">
            <td> <a th:href= "@{/admin/{id}(id=${user.getId()})}" th:utext ="${user.getId()}">Id</a></td>
            <td th:utext="${user.username}">...</td>
            <td th:utext="${user.password}">...</td>
             <td><span th:each="role : ${user.roles}" th:text="${role.name}+'; '"></span></td>
            <td th:utext="${user.firstName}">...</td>
            <td th:utext="${user.lastName}">...</td>
            <td th:utext="${user.email}">...</td>
            <td th:utext="${user.age}">...</td>
        </tr>
    </table>
</div>
</br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">LOGOUT!</button>
</body>
</html>
