<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">


<head>
  <meta charset="UTF-8">
  <title>User Card</title>
  <style>
    ul{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
    }
  </style>
</head>
<body>
<ul>
  <h4>
    <li><div th:utext ="${user.getId()}">...</div></li>
    <li><div th:utext ="${user.getFirstName()}">...</div></li>
    <li><div th:utext ="${user.getLastName()}">...</div></li>
    <li><div th:utext ="${user.getEmail()}">...</div></li>
    <li><div th:utext ="${user.getAge()}">...</div></li>
    <br/>
    <br/>
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit User</a>
    <br/>
    <br/>

    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
      <input type="submit" value="Delete User"/>
    </form>
  </h4>
</ul>
</br>
<button class="buttonLogout" onclick="window.location.href = '/logout';">LOGOUT!</button>
</body>
</html>