<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Add Person</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Create a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/}"
      th:object="${user}" method="POST">



  <label for="firstName">First Name </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>

  <label for="lastName">Last Name </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>

  <label for="email">E-mail </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>

  <label for="age">Age </label>
  <input type="number" th:field="*{age}" id="age"/>
  <br/>

  <input type="submit" value="Create" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
  ...
</div>

</body>
</html>