<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/{id}(id=${user.getId()})}" th:object="${user}">

  <input type="hidden" th:field="*{id}" readonly="readonly">

  <label for="firstName">First Name </label>
  <input type="text" th:field="*{firstName}" id="firstName"/>
  <br/>

  <label for="lastName">Last Name </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>

  <label for="email">E-mail </label>
  <input type="text" th:field="*{email}" id="email"/>
  <br/>

  <label for="age">Age </label>
  <input type="number" th:field="*{age}" id="age"/>
  <br/>

  <input type="submit" value="Update!"/>
</form>
</body>
</html>